@import "../../sass/variables.sass";

.hero{
  height: 90vh;
  width: 85%;
  margin:2% auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;

  .parent-container{
    border-radius: 0.25rem;
    background: white;
    position: relative;
    display: flex;
    gap: 10px;
    margin: 1rem;
    padding: 1rem;
    width: 100%;
    -webkit-box-shadow: 0.5px 0.5px 6px 2px rgba(228, 228, 228, 0.735);
    -moz-box-shadow: 0.5px 0.5px 6px 2px rgba(173,173,173,1);
    box-shadow: 0.5px 0.5px 6px 2px rgba(173,173,173,1);

    .close-icon{
      position: absolute;
      top: 1rem;
      right: 1rem;
      font-size: 1.5rem;
      z-index: 10;
      cursor: pointer;
      color: $secondary-dark;
    }
  }

  .visible{
    display: flex;
  }

  .notVisible{
    display: none;
  }
}