@import "../../sass/variables.sass";

.products-container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
    width: 100%;

    .close-icon{
        position: absolute;
        top: 0;
        right: 0;
    }
}