@import "../../sass/variables.sass";

.products-container{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:1rem;
    margin: 0 auto;
    max-width: 1200px;
    padding: 1rem;
    width: 100%;
    outline : 2px solid red;
    margin-top: 1rem;
    min-width: auto;

    .close-icon{
        position: absolute;
        top: 0;
        right: 0;
    }

    .product-card{
      outline : 2px solid green;
      overflow: hidden;
      padding: 0.25rem;
      min-height: 20rem;
      display: flex;
      flex-direction: column;
      gap: 0.4rem;

      .img{
        max-width: 100%;
        aspect-ratio: 1;
        object-fit: cover;
        border-radius: 0.25rem;
        margin-bottom: 0.5rem;
      }
      
      .name{
        font-size: 1.25rem;
        font-weight: 500;
      }

      .money{
        display: flex;
        gap: 0.5rem;
        align-items: center;
      }
      .price{
        text-decoration: line-through;
        font-size: 1.1rem;
        font-weight: 400;
      }

      .discount{
        color: #6D84FF;
        font-size: 1.25rem;
        font-weight: 500;
      }

      .rating{
        color: gold;
      }
    }
}

.hovered{
  display: flex;
}

.notHovered{
  display: none;
}