@import "./components/HeroSection/Hero.scss";
@import "./sass/variables.sass";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;
}
